.signin-container {
  background-color: antiquewhite;
  width: 40%;
  max-width: 450px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  border-radius: 12px;
}

input,
button {
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  margin-top: 8px;
}