* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-bottom: 1px solid lightsteelblue;
  display: flex;
  justify-content: space-between;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  font-weight: 700;
}

a {
  text-decoration: none;
}